<!--
    ioBroker.vis vis-jqui-mrc Widget-Set

    version: "0.0.1"

    Copyright 2023 mwruecker markus.ruecker@mr-consult.net
-->

<style type="text/css">
    .hue-slider-hue.ui-slider {
        background-image: url(widgets/jqui/img/hue.png);
        background-size: 100%;
    }
   
    .hue-slider-ct.ui-slider {
        background-image: url(widgets/jqui/img/ct.png);
        background-size: 100%;
    }
</style>

<script type="text/javascript">
    'use strict';

    if (vis.editMode) {
        $.extend(systemDictionary, {
            "autoclose":    	{"en": "Auto close",            "de": "Auto-zu",                "ru": "Автозакрытие"},
            "modal":        	{"en": "Modal",                 "de": "Modal",                  "ru": "Модальное"},
            "invert_state": 	{"en": "Invert state",          "de": "Invertiere Zustand",     "ru": "Инвертировать состояние"},
            "asButton":     	{"en": "Button rectangle",      "de": "Knopf-Viereck",          "ru": "Фон кнопки"},
            "icon_off":     	{"en": "Icon for OFF",          "de": "Symbol für AUS",         "ru": "Иконка для ВЫКЛ"},
            "iconColor_off":	{"en": "Icon color for OFF",    "de": "Symbolfarbe für AUS",    "ru": "Цвет иконки для ВЫКЛ"},
            "icon_on":      	{"en": "Icon for ON",           "de": "Symbol für AN",          "ru": "Иконка для ВКЛ"},
            "iconColor_on": 	{"en": "Icon color for ON",     "de": "Symbolfarbe für AN",     "ru": "Цвет иконки для ВКЛ"},
            "closed_value": 	{"en": "Value for CLOSED",      "de": "Wert für ZU",            "ru": "Значение для ЗАКРЫТО"},
            "tilted_value": 	{"en": "Value for TILTED",      "de": "Wert für GEKIPPT",       "ru": "Значение для ОТКИНУТО"},
            "opened_value": 	{"en": "Value for OPENED",      "de": "Wert für AUF",           "ru": "Значение для ОТКРЫТО"},
            "closed_icon":  	{"en": "Icon for CLOSED",       "de": "Symbol für ZU",          "ru": "Иконка для ЗАКРЫТО"},
            "closed_iconColor":	{"en": "Icon color for CLOSED", "de": "Symbolfarbe für ZU",  "ru": "Цвет иконки для ЗАКРЫТО"},
            "tilted_icon":  	{"en": "Icon for TILTED",       "de": "Symbol für GEKIPPT",     "ru": "Иконка для ОТКИНУТО"},
            "tilted_iconColor":	{"en": "Icon color for TILTED", "de": "Symbolfarbe für GEKIPPT", "ru": "Цвет иконки для ОТКИНУТО"},
            "opened_icon":  	{"en": "Icon for OPENED",       "de": "Symbol für AUF",         "ru": "Иконка для ОТКРЫТО"},
            "opened_iconColor":	{"en": "Icon color for OPENED", "de": "Symbolfarbe für AUF", "ru": "Цвет иконки для ОТКРЫТО"},
            "invert_value": 	{"en": "Invert value",          "de": "Invertiere Wert",        "ru": "Инвертировать значение"},
            "show_active":  	{"en": "Show active background", "de": "Zeige aktiven Hintergrund", "ru": "Показать активный фон"},
            "set_oid":      	{"en": "Set temperature ID",    "de": "Soll-Temperature ID",    "ru": "ID задаваемой температуры"},
            "temp_oid":     	{"en": "Actual temperature ID", "de": "Ist-Temperature ID",     "ru": "ID актуальной температуры"},
            "drive_oid":    	{"en": "Valve position ID",     "de": "VentilID",               "ru": "ID Положения вентиля"},
            "label_set":    	{"en": "Label for 'set'",       "de": "Beschriftung für 'Soll'", "ru": "Надпись для 'задаваемой'"},
            "label_temp":   	{"en": "Label for 'actual'",    "de": "Beschriftung für 'Ist'", "ru": "Надпись для 'актуальной'"},
            "label_drive":  	{"en": "Label for position",    "de": "Beschriftung für Ventil", "ru": "Надпись для вентиля"},
            "src_url":      	{"en": "Stream URL",            "de": "Stream URL",             "ru": "URL потока"},
            "qtsrc_url":    	{"en": "Stream URL (qtsrc)",    "de": "Stream URL (qtsrc)",     "ru": "URL потока (qtsrc)"},
            "type_application": {"en": "Application mime-type", "de": "Applikationstyp (mime)",   "ru": "Тип приложения (mime)"},
            "plugin":       	{"en": "Plug-in",               "de": "Plugin",                 "ru": "Плагин"},
            "autoplay":     	{"en": "Auto-play",             "de": "Automatisch abspielen",  "ru": "Автостарт"},
            "url":          	{"en": "URL",                   "de": "URL",                    "ru": "URL"},
            "interval":     	{"en": "Update interval(ms)",   "de": "Update-Intervall(ms)",   "ru": "Интервал обновления (мс)"},
            "group_icons":  	{"en": "Icons",                 "de": "Symbole",                "ru": "Иконки"},
            "group_values": 	{"en": "Values",                "de": "Werte",                  "ru": "Значения"},
            "icon_interval": 	{"en": "Update interval(ms)",        "de": "Updateintervall(ms)", "ru": "Интервал обновления (мс)"},
            "iconColor":    	{"en": "Icon color",            "de": "Symbolfarbe",            "ru": "Цвет иконки"},
            "group_images": 	{"en": "Icons",                 "de": "Symbole",                "ru": "Картинки"},
            "group_colors": 	{"en": "Icon colors (SVG)",     "de": "Symbolfarben (SVG)",     "ru": "Цвета картинки (SVG)"},
            "icon0":        	{"en": "Icon 0%",               "de": "Symbol für 0%",          "ru": "Картинка для 0%"},
            "iconColor0":   	{"en": "Icon color 0%",         "de": "Symbolfarbe bei 0%",     "ru": "Цвет для 0%"},
            "iconValue0":   	{"en": "Icon value 0%",         "de": "Symbolwert für 0%",      "ru": "Значение для 0%"},
            "iconValue0_tooltip":   {
                "en": "Icon value when defined picture must be shown",
                "de": "Symbolwert bei welchem sollte das Bild erscheinen",
                "ru": "Значение, когда должна появлятся эта иконка"
            },
            "icon1":        	  {"en": "Icon 10%",              "de": "Symbol für 10%",         "ru": "Картинка 10%"},
            "iconColor1":   	  {"en": "Icon color 10%",        "de": "Symbolfarbe bei 10%",    "ru": "Цвет для 0%"},
            "iconValue1":   	  {"en": "Icon value 10%",        "de": "Symbolwert für 10%",     "ru": "Значение для 0%"},
            "icon2":        	  {"en": "Icon 20%",              "de": "Symbol für 20%",         "ru": "Картинка 20%"},
            "iconColor2":   	  {"en": "Icon color 20%",        "de": "Symbolfarbe bei 20%",    "ru": "Цвет для 0%"},
            "iconValue2":   	  {"en": "Icon value 20%",        "de": "Symbolwert für 20%",     "ru": "Значение для 0%"},
            "icon3":        	  {"en": "Icon 30%",              "de": "Symbol für 30%",         "ru": "Картинка 30%"},
            "iconColor3":   	  {"en": "Icon color 30%",        "de": "Symbolfarbe bei 30%",    "ru": "Цвет для 0%"},
            "iconValue3":   	  {"en": "Icon value 30%",        "de": "Symbolwert für 30%",     "ru": "Значение для 0%"},
            "icon4":        	  {"en": "Icon 40%",              "de": "Symbol für 40%",         "ru": "Картинка 40%"},
            "iconColor4":   	  {"en": "Icon color 40%",        "de": "Symbolfarbe bei 40%",    "ru": "Цвет для 0%"},
            "iconValue4":   	  {"en": "Icon value 40%",        "de": "Symbolwert für 40%",     "ru": "Значение для 0%"},
            "icon5":        	  {"en": "Icon 50%",              "de": "Symbol für 50%",         "ru": "Картинка 50%"},
            "iconColor5":   	  {"en": "Icon color 50%",        "de": "Symbolfarbe bei 50%",    "ru": "Цвет для 0%"},
            "iconValue5":   	  {"en": "Icon value 50%",        "de": "Symbolwert für 50%",     "ru": "Значение для 0%"},
            "icon6":        	  {"en": "Icon 60%",              "de": "Symbol für 60%",         "ru": "Картинка 60%"},
            "iconColor6":   	  {"en": "Icon color 60%",        "de": "Symbolfarbe bei 60%",    "ru": "Цвет для 0%"},
            "iconValue6":   	  {"en": "Icon value 60%",        "de": "Symbolwert für 60%",     "ru": "Значение для 0%"},
            "icon7":        	  {"en": "Icon 70%",              "de": "Symbol für 70%",         "ru": "Картинка 70%"},
            "iconColor7":   	  {"en": "Icon color 70%",        "de": "Symbolfarbe bei 70%",    "ru": "Цвет для 0%"},
            "iconValue7":   	  {"en": "Icon value 70%",        "de": "Symbolwert für 70%",     "ru": "Значение для 0%"},
            "icon8":        	  {"en": "Icon 80%",              "de": "Symbol für 80%",         "ru": "Картинка 80%"},
            "iconColor8":   	  {"en": "Icon color 80%",        "de": "Symbolfarbe bei 80%",    "ru": "Цвет для 0%"},
            "iconValue8":   	  {"en": "Icon value 80%",        "de": "Symbolwert für 80%",     "ru": "Значение для 0%"},
            "icon9":        	  {"en": "Icon 90%",              "de": "Symbol für 90%",         "ru": "Картинка 90%"},
            "iconColor9":   	  {"en": "Icon color 90%",        "de": "Symbolfarbe bei 90%",    "ru": "Цвет для 0%"},
            "iconValue9":   	  {"en": "Icon value 90%",        "de": "Symbolwert für 90%",     "ru": "Значение для 0%"},
            "icon10":       	  {"en": "Icon 100%",             "de": "Symbol für 100%",        "ru": "Картинка 100%"},
            "iconColor10":  	  {"en": "Icon color 100%",       "de": "Symbolfarbe bei 100%",   "ru": "Цвет для 0%"},
            "iconValue10":  	  {"en": "Icon value 100%",       "de": "Symbolwert für 100%",    "ru": "Значение для 0%"},
            "iconOff":      	  {"en": "Inactive Icon",         "de": "Inaktivbild",            "ru": "Неактиваня картинка"},
            "textOff":      	  {"en": "Text for Off",          "de": "Text für Aus",           "ru": "Надпись для Выкл"},
            "textOn":       	  {"en": "Text for On",           "de": "Text für Ein",           "ru": "Надпись для Вкл"},
            "iconColorOff": 	  {"en": "Inactive Icon color",   "de": "Inaktive Symbolfarbe",   "ru": "Цвет не активной иконки"},
            "iconColorOn":  	  {"en": "Active Icon color",     "de": "Aktive Symbolfarbe",     "ru": "Цвет активной иконки"},
            "show_value":   	  {"en": "Show value",            "de": "Wert zeigen",            "ru": "Показывать значение"},
            "units":        	  {"en": "Units",                 "de": "Einheit",                "ru": "Единицы измерения"},
            "roundnumber":  	  {"en": "Decimal Place",         "de": "Nachkommastellen",       "ru": "Decimal Place"},
            "slide_count":  	  {"en": "Slides count",      	  "de": "Flügelanzahl",           "ru": "Кол-во створок"},
            "slide_type":       {"en": "Slide type",        	  "de": "Flügeltyp",              "ru": "Тип створки"},
            "oid-slide-sensor": {"en": "Slide sensor",          "de": "Fensterblatt-Sensor",    "ru": "Сенсор на створке"}
        });
    }

    $.extend(systemDictionary, {
        "off":      {"en": "off",       "de": "aus",    "ru": "выкл"},
        "on":       {"en": "on",        "de": "an",     "ru": "вкл"},
        "closed":   {"en": "closed",    "de": "zu",     "ru": "закр."},
        "open":     {"en": "open",      "de": "auf",    "ru": "откр."},
        "retracted":{"en": "retracted", "de": "eingefahren", "ru": ""},
        "extended": {"en": "extended",  "de": "ausgefahren", "ru": ""},
        "retract":   {"en": "retract",    "de": "einfahren", "ru": ""},
        "extend":   {"en": "extend",    "de": "ausfahren", "ru": ""},
    });

    vis.binds['vis-jqui-mrc'] = {
        version: "0.0.1",
        isNotEmpty: function (val) {
            return val !== '' && val !== null && val !== undefined;
        },
        removeSvg: function (wid) {
            $('#' + wid).find('svg').remove();
        },
        showVersion: function () {
            if (vis.binds["vis-jqui-mrc"].version) {
                console.log('Version vis-jqui-mrc: ' + vis.binds["vis-jqui-mrc"].version);
                vis.binds["vis-jqui-mrc"].version = null;
            }
        },
    };
    vis.binds["vis-jqui-mrc"].showVersion();
</script>

<script id="tplMfdAwningDialog"
        type="text/ejs"
        class="vis-tpl"
        data-vis-set="vis-jqui-mrc"
        data-vis-type="ctrl,blind,dialog"
        data-vis-name="Awning + jqui Dialog"
        data-vis-prev='<div id="prev_tplMfdBlind" style="position: relative; text-align: initial; padding: 4px "><div data-oid="dev1" class="vis-widget_prev vis-widget ui-widget ui-button ui-corner-all ui-state-default  ui-state-active" style="width: 70px; height: 70px;"><div class="vis-widget-prev-body"> <img style="filter: invert(1); -webkit-filter: invert(1); -moz-filter: invert(1); -o-filter: invert(1); -ms-filter: invert(1);" width="100%" src="widgets/vis-jqui-mrc/img/fts_markise_100.png"> </div></div></div>'
        data-vis-attrs="oid;oid-working;min;max;invert_icon/checkbox;asButton[true]/checkbox;invert_value/checkbox;show_active/checkbox;iconColor/color;"
        data-vis-attrs0="group.colors;iconColor0/color;iconColor25/color;iconColor5/color;iconColor75/color;iconColor10/color;"
        data-vis-attrs1="group.dialog;title;noHeader/checkbox;autoclose/slider,0,30000,100;modal/checkbox;dialog_width[450];dialog_height[210];dialog_top;dialog_left;overflowX/nselect,,visible,hidden,scroll,auto,initial,inherit;overflowY/nselect,,visible,hidden,scroll,auto,initial,inherit;show_value/checkbox;units;"
>
    <div data-oid="<%= this.data.attr('oid') %>" data-hm-wid="<%= this.data.attr('oid-working') %>" class="vis-widget <%= this.data.attr('asButton') ? ' ui-widget ui-button ui-corner-all ui-state-default' : '' %> <%= this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" style="width:76px; height:76px; position:absolute" <%= (el) -> this.data.attr('show_active') ? vis.binds.jqueryui.classes(el, true) : '' %>>
        <div id="<%= this.data.attr('wid') %>_body" class="vis-widget-body" style="width:100%; height:100%" <%= (el) -> vis.preloadImages(['widgets/vis-jqui-mrc/img/light_light_dim_100.png','widgets/vis-jqui-mrc/img/light_light_dim_90.png','widgets/vis-jqui-mrc/img/light_light_dim_80.png','widgets/vis-jqui-mrc/img/light_light_dim_70.png','widgets/vis-jqui-mrc/img/light_light_dim_60.png','widgets/vis-jqui-mrc/img/light_light_dim_50.png','widgets/vis-jqui-mrc/img/light_light_dim_40.png','widgets/vis-jqui-mrc/img/light_light_dim_30.png','widgets/vis-jqui-mrc/img/light_light_dim_20.png','widgets/vis-jqui-mrc/img/light_light_dim_10.png','widgets/vis-jqui-mrc/img/light_light_dim.png']); %>>
            <%
                var styles = '';
                if (this.data.invert_icon === 'true' || this.data.invert_icon === true) {
                    styles = 'filter: invert(1); -webkit-filter: invert(1); -moz-filter: invert(1); -o-filter: invert(1); -ms-filter: invert(1);';
                }
                var max = (this.data.attr('max') !== undefined) ? this.data.attr('max') : 100;
                var min = (this.data.attr('min') !== undefined) ? this.data.attr('min') : 0;

                if (typeof max === 'string' && parseFloat(max).toString() == max) max = parseFloat(max);
                if (typeof min === 'string' && parseFloat(min).toString() == min) min = parseFloat(min);

                var val = parseFloat(vis.states.attr(this.data.oid + '.val'));

                if (this.data.attr('invert_value')) val = max - val + min;

                var image = '';
                var imageColor = null;
            if (val >= max) {
                image = "fts_markise_100";
                imageColor = this.data.attr('iconColor10');
            } else if (val >= min + (max - min) * 0.75) {
                image = "fts_markise_75";
                imageColor = this.data.attr('iconColor75');
            } else if (val >= min + (max - min) * 0.5) {
                image = "fts_markise_50";
                imageColor = this.data.attr('iconColor5');
            } else if (val >= min + (max - min) * 0.25) {
                image = "fts_markise_25";
                imageColor = this.data.attr('iconColor25');
            } else {
                image = "fts_markise_0";
                imageColor = this.data.attr('iconColor0');
            }

            if (!vis.binds['jqui-mfd-mrc'].isNotEmpty(imageColor)) {
                imageColor = this.data.attr('iconColor');
            }

            if (vis.binds['jqui-mfd-mrc'].isNotEmpty(imageColor)) {
            %>
                <img style="<%= styles %>" width="100%" src="widgets/vis-jqui-mrc/img/<%= image %>.svg" <%= (el) -> vis.binds.jqueryui.setSvgColor(el, imageColor) %>/>
            <% } else { %>
                <img style="<%= styles %>" width="100%" src="widgets/vis-jqui-mrc/img/<%= image %>.png" <%= (el) -> vis.binds['jqui-mfd-mrc'].removeSvg(this.data.attr('wid')) %>/>
            <% } %>
        </div>
        <div id="<%= this.data.attr('wid') %>_dialog" class="<%= this.data.attr('wid') %>_dialog vis-widget-dialog" title="<%== this.data.title || this.data.attr('oid') %>" style="padding-left: 20px;">
            <div id="<%= this.data.attr('wid') %>_radio"  class="<%= this.data.attr('wid') %>_radio" style="text-align: center" data-oid="<%= this.data.attr('oid') %>" <%= (el) -> vis.binds.jqueryui.radio(el); %> >
                <%
                    var max = (this.data.attr('max') !== undefined) ? this.data.attr('max') : 100;
                    var min = (this.data.attr('min') !== undefined) ? this.data.attr('min') : 0;

                    if (typeof max === 'string' && parseFloat(max).toString() == max) max = parseFloat(max);
                    if (typeof min === 'string' && parseFloat(min).toString() == min) min = parseFloat(min);

                %>
                <input type="radio" id="<%= this.data.attr('wid') %>_radio0" name="<%= this.data.attr('wid') %>_radio" value="<%= !this.data.attr('invert_value') ? min : max                                           %>" checked="checked"/><label for="<%= this.data.attr('wid') %>_radio0"><%= _('retracted') %></label>
                <input type="radio" id="<%= this.data.attr('wid') %>_radio1" name="<%= this.data.attr('wid') %>_radio" value="<%= !this.data.attr('invert_value') ? min + (max - min) * 0.25 : min + (max - min) * 0.75 %>" checked="checked"/><label for="<%= this.data.attr('wid') %>_radio1">25%</label>
                <input type="radio" id="<%= this.data.attr('wid') %>_radio2" name="<%= this.data.attr('wid') %>_radio" value="<%=                                   min + (max - min) * 0.5                             %>" checked="checked"/><label for="<%= this.data.attr('wid') %>_radio2">50%</label>
                <input type="radio" id="<%= this.data.attr('wid') %>_radio3" name="<%= this.data.attr('wid') %>_radio" value="<%= !this.data.attr('invert_value') ? min + (max - min) * 0.75 : min + (max - min) * 0.25 %>" checked="checked"/><label for="<%= this.data.attr('wid') %>_radio3">75%</label>
                <input type="radio" id="<%= this.data.attr('wid') %>_radio4" name="<%= this.data.attr('wid') %>_radio" value="<%= !this.data.attr('invert_value') ? max : min                                           %>"/><label for="<%= this.data.attr('wid') %>_radio4"><%= _('extended') %></label>
            </div>
            <br/>
            <div class="sliderJQUI" style="width: 90%" id="<%= this.data.attr('wid') %>_slider" data-oid="<%= this.data.attr('oid') %>" data-hm-wid="<%= this.data.attr('oid-working') %>" <%= (el) -> vis.binds.jqueryui.slider(el, {min: min, max: max, step: (max - min) / 100, inverted: this.data.attr('invert_value')}) %> />
            <br/>
            <%= vis.states.attr(this.data.oid + '.val') ? (((parseFloat(vis.states.attr(this.data.oid + '.val')) - min) / (max - min)) * 100).toFixed(0) : 0 %>%
            <%= (this.data.show_value === 'true' || this.data.show_value === true) ? '(' + Math.round(parseFloat(vis.states.attr(this.data.oid + '.val') * 100) / 100) + ' ' + this.data.attr('units') + ')' : '' %>
        </div>
        <div class="popup-helper" <%= (el) -> vis.binds.jqueryui.dialog(el, data, true) %> />
        <div class="popup-helper" <%= (el) -> vis.binds.jqueryui.dialogAutoClose(el, data.attr('autoclose')) %> />
    </div>
</script>



<script id="tplVis-jqui-mrcShowInstance"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<div id="prev_tplVis-jqui-mrcShowInstance" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev " style="width: 280px; height: 159px;" > <div class="vis-jqui-mrc-class vis-widget-prev-body " style="padding:2px"> OID: hm-rpc.0.EEQ0006629.1.STATE<br> OID value: true<br> Color: <span style="color: rgb(128, 0, 0);">#800000</span><br> htmlText: <textarea readonly="" style="width:100%">asda</textarea></div>'
        data-vis-attrs="oid/id;myColor/color;htmlText/text;"
        data-vis-attrs0="group.extraVis-jqui-mrc;extraAttr"
        data-vis-set="vis-jqui-mrc"
        data-vis-type="helper"
        data-vis-name="Show instance">
    <div class="vis-widget <%== this.data.attr('class') %>" style="width:230px; height:210px;" id="<%= this.data.attr('wid') %>" >
        <div class="vis-jqui-mrc-class vis-widget-body <%== this.data.attr('class') %>" style="padding:2px" >
            OID: <%= this.data.attr('oid') %><br>
            OID value: <%== vis.states.attr(this.data['oid'] + '.val') %><br>
            Color: <span style="color: <%= this.data.attr('myColor') %>"><%= this.data.attr('myColor') %></span><br>
            extraAttr: <%== this.data.attr('extraAttr') %><br>
            Browser instance: <%= vis.instance %><br>
            htmlText: <textarea readonly style="width: calc(100% - 10px)"><%== this.data.attr('htmlText') %></textarea><br>
        </div>
    </div>
</script>

<script id="tplVis-jqui-mrcHelper"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<div id="prev_tplVis-jqui-mrcHelper" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev " style="width: 280px; height: 159px;" > <div class="vis-jqui-mrc-class vis-widget-prev-body " style="padding:2px"> OID: hm-rpc.0.EEQ0006629.1.STATE<br> OID value: true<br> Color: <span style="color: rgb(128, 0, 0);">#800000</span><br> htmlText: <textarea readonly="" style="width:100%">asda</textarea></div>'
        data-vis-attrs="oid/id;myColor/color;htmlText/text;"
        data-vis-attrs0="group.extraVis-jqui-mrc;extraAttr"
        data-vis-set="vis-jqui-mrc"
        data-vis-type="helper"
        data-vis-name="Helper">
    <div class="vis-widget <%== this.data.attr('class') %>" style="overflow:visible; width: 230px; height: 210px" id="<%= this.data.attr('wid') %>"><%
        vis.binds['vis-jqui-mrc'].createWidget(this.data.wid, this.view, this.data, this.style);
    %></div>
</script>